<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>searchURI</key>
	<string>cms/geoLoc/search</string>
	<key>appCode</key>
	<string>wcoim</string>
	<key>loginURI</key>
	<string>core/user/login</string>
	<key>baseURL</key>
	<string>http://192.168.1.190:3000</string>
</dict>
</plist>
